$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid $mg-bg-white;
}

.mg_preview_well{
  border: none;
  padding: none;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }

  .mg_preview_well{
    border: dashed 2px $mg-mid;
    padding: 28px 20px 8px 20px;
    border-radius: 14px;
  }

}

//needed for angular-ui conponents
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


//*** bootstrap overrides ***//

.panel{
  border-color: #474747;
}

.panel-default > .panel-heading {
  background-color: $mg-bg-lighter;
  color: $mg-bg-white;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: $mg-bg-white;
}

label{
  color: $mg-bg-white;
}

.alert{
  margin-bottom: 0;
  border-width: 3px;
}

.alert.alert-success{
  border-color: $brand-success;
}

.alert.alert-danger{
  border-color: $brand-danger;
}


//*** common **//

.mg_section_well{
  background-color: #3C3F42;
  border-color: $mg-mid;
}

.mg_form_well, legend, .panel-default > .panel-heading, .mg_model_well, .mg_output_well{
  border-color: $mg-mid;
}

//*** form builder ***//

.mg_model_well{
  background-color: $body-bg;
  padding-top: 0;
  margin-top: 20px;
  //border-radius: 14px;
}

.fieldTypeButton{
  margin-bottom: 3px;
}
.dropdown-menu_fieldTypes{
  padding: 6px;
  background-color: #666;
  left: -35px;
}

.mg_accordian_title{
  padding-top: 5px;
  margin-bottom: 6px;
}

.mg_accordian_title > small{
  padding-top: 4px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}

.optionSpacer{
  margin-bottom: 7px;
}

.btn-mg {
  color: $mg-bg-white;
  background-color: $body-bg;
  border-color: $mg-mid;
}

//*** form preview ***//


//*** output ***//

//wrap around code
pre{
  background-color: $body-bg;
  border: none;
  margin-bottom: 0;
}

.mg_output_well{
  padding: 0;
}

small{
  color: $mg-bg-white;
}

