$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid $mg-bg-white;
}

.mg_preview_well{
  border: none;
  padding: none;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }

  .mg_preview_well{
    border: dashed 2px #999999;
    padding: 30px 30px 8px 30px;
    border-radius: 14px;
  }

}

//needed for angular-ui conponents
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


//*** bootstrap overrides ***//




label{
  color: $mg-bg-white;
}


//*** common **//

small{
  color: $mg-bg-white;
}

//date button

.btn-mg{
  background-color: $mg-mid;
  color: $mg-bg-white;
  border-color: $mg-mid;
}

.btn-mg:hover {
  color: $mg-bg-white;
  background-color: $brand-danger;
  border-color: $brand-danger;
}

.mg_section_well{
  background-color: $mg-bg-lighter;
}

.mg_section_well,
.mg_form_well,
.mg_model_well,
.mg_output_well, legend, .panel, .panel-default > .panel-heading {
  border-color: $mg-mid;
}

//*** form builder ***//

.mg_model_well{
  background-color: $body-bg;
  padding-top: 0;
  margin-top: 14px;
}

.fieldTypeButton{
  margin-bottom: 3px;
}
.dropdown-menu_fieldTypes{
  padding: 6px;
  background-color: $mg-mid;
  left: -35px;
}

//accordian panel
.panel-default > .panel-heading {
  background-color: $mg-bg-lighter;
  color: $mg-bg-white;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: $mg-mid;
}

.mg_accordian_title{
  padding-top: 5px;
  margin-bottom: 6px;
}

.mg_accordian_title > small{
  padding-top: 4px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}

.optionSpacer{
  margin-bottom: 7px;
}


//*** form preview ***//


//*** output ***//

//wrap around code
pre{
  background-color: $body-bg;
  border: none;
  margin-bottom: 0;
}

.mg_output_well{
  padding: 0;
}

.labelSpacer{
  margin-left: 5px;
}



//highlight.js
//.hljs-string,
//.hljs-title,
//.hljs-constant,
//.hljs-parent,
//.hljs-tag .hljs-value,
//.hljs-rules .hljs-value,
//.hljs-rules .hljs-value .hljs-number,
//.hljs-preprocessor,
//.hljs-pragma,
//.haml .hljs-symbol,
//.ruby .hljs-symbol,
//.ruby .hljs-symbol .hljs-string,
//.hljs-aggregate,
//.hljs-template_tag,
//.django .hljs-variable,
//.smalltalk .hljs-class,
//.hljs-addition,
//.hljs-flow,
//.hljs-stream,
//.bash .hljs-variable,
//.apache .hljs-tag,
//.apache .hljs-cbracket,
//.tex .hljs-command,
//.tex .hljs-special,
//.erlang_repl .hljs-function_or_atom,
//.asciidoc .hljs-header,
//.markdown .hljs-header,
//.coffeescript .hljs-attribute {
//  color: #B95050;
//}

.hljs-tag .hljs-value{
  color: #B95050;
}