$icon-font-path: "/fonts/";

$mg-white:              #D2D5D8;
$mg-mid:                #5E6266;
$mg-dark:               #3C3F42;
$mg-darkest:            #282B2E;

$brand-info:            #2B7EC0 !default;
$brand-primary:         #2B7EC0 !default;
$brand-success:         #27ae60 !default;
$brand-warning:         #e67e22 !default;
$brand-danger:          #B95050 !default;

// Typography
$font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-bg:               $mg-darkest !default;
$text-color:            $mg-white !default;

// Forms
$input-bg:              $mg-darkest !default;
$input-color:           $mg-white !default;
$input-border:          $mg-mid !default;
$legend-color:          $mg-white !default;

// Panels
$panel-bg:              $mg-dark !default;

// Wells
$well-bg:               $mg-dark !default;

@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid $mg-white;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

//dashed border around preview
.mg_preview_well{
  border: none;
  padding: none;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .mg_preview_well{
      border: dashed 2px #999999;
      padding: 30px 30px 8px 30px;
      border-radius: 14px;
    }

}

//*** needed for angular-ui conponents ***//
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



//*** common **//

label{
  color: $mg-white;
}

//section well
.mg_section_well{
  background-color: $mg-dark;
}

//section titles
.text-primary{
  color: #3D9AE4
}
.text-primary:hover{
  color: #3D9AE4
}
small{
  color: $mg-white;
}


//date/delete button
.btn-mg{
  background-color: $mg-mid;
  color: $mg-white;
  border-color: $mg-mid;
}
.btn-mg.mg-delete:hover {
  color: $mg-white;
  background-color: $brand-danger;
  border-color: $brand-danger;
}

.well,
legend,
.panel,
.panel-default > .panel-heading {
  border-color: $mg-mid;
}

//*** form builder ***//

.mg_model_well{
  background-color: $mg-darkest;
  padding-top: 0;
  margin-top: 7px;
}

.fieldTypeButton{
  margin-bottom: 3px;
}
.dropdown-menu_fieldTypes{
  padding: 6px;
  background-color: $mg-mid;
}

//accordian panel
.panel-default > .panel-heading {
  background-color: $mg-dark;
  color: $mg-white;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: $mg-mid;
}
.mg_accordian_title{
  padding-top: 5px;
  margin-bottom: 6px;
}
.mg_accordian_title > small{
  padding-top: 4px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}
.optionSpacer{
  margin-bottom: 7px;
}


//*** form preview ***//

//validation icons
.validationSpacer{
  margin-left: 3px;
}



//*** output ***//

//well around code
.mg_output_well{
  padding: 0;
}
pre{
  background-color: $mg-darkest;
  border: none;
  margin-bottom: 0;
}

//labels in html button
.labelSpacer{
  margin-left: 14px;
}
button > label{
  margin-bottom: 0;
}

//code output strings
.hljs-tag .hljs-value{
  color: $brand-warning;
}


.mg_github_well{
  position: absolute;
  right: 20px;
  z-index: 9999;
  pointer-events: auto;
  padding: 0;
  border-radius: 20px;
}

.mg_github_well > label > a,
.mg_github_well > label > a:hover,{
  color: $mg-white;
  text-decoration: none;
  padding: 0 5px 0 15px;
}


/*/
https://github.com/simonwhitaker/github-fork-ribbon-css/blob/gh-pages/gh-fork-ribbon.css
/*/

/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  //padding: 2px 0;

  /* Set the base colour */
  background-color: $mg-mid;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  //-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  //-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  //box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the font */
  //font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $mg-white;

  /* Set the text properties */
  text-decoration: none;
  //text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  //border-width: 1px 0;
  //border-style: dotted;
  //border-color: #fff;
  //border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
