<p class="input-group">
    <input type="text" id="field.id" name="{{field.name}}" class="form-control"
           datepicker-popup="{{format}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" is-open="opened" close-text="Close"
           data-ng-model="field.value"  ng-required="field.required" />
        <span class="input-group-btn">
            <button class="btn btn-mg" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
</p>