<div class="form-group">

    <label>{{field.field_title}}
        <small class="text-muted" data-ng-show="field.field_required" >(required)</small>
        <!--<small class="text-muted text-success" data-ng-show="eventAddForm.eventtype.$valid">  <span class="glyphicon glyphicon-ok"></span></small>-->
    </label>

    <div class="well well-sm">
        <div ng-repeat="option in field.field_options">
            <label>
                <input type="radio" value="{{option.option_value}}" ng-model="field.field_value"  ng-required="field.field_required"/>
                <span ng-bind="option.option_title"></span>
            </label>
        </div>
    </div>

</div>