<p class="input-group">
    <input type="text" class="form-control"
       id="{{field.id}}"
       name="{{field.name}}"
       data-ng-model="field.value"
       data-ng-required="field.required"
       datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />

    <span class="input-group-btn">
            <button class="btn btn-mg" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>