
<h3 class="text-primary">Output
    <small> boilerplate code</small>
</h3>

<div class="well mg_section_well" data-ng-controller="OutputCtrl">

    <!--Output buttons - mobile-->
    <ul class="list-unstyled hidden-sm hidden-md hidden-lg">
        <li>
            <button class="btn btn-primary btn-block" data-ng-click="outputType = 'html'" data-ng-class="{active: outputType == 'html'}" >html markup</button>

            <div class="well well-sm text-center">
                <div class="labelSpacer">
                    <input class="" type="checkbox" data-ng-model="cssStyle" data-ng-true-value="bootstrap" data-ng-false-value="" > plus bootstrap
                </div>
                <div class="labelSpacer">
                    <input class="" type="checkbox" data-ng-model="jsStyle" data-ng-true-value="angular" data-ng-false-value="" > plus angular.js
                </div>
            </div>

        </li>
        <li>
            <button class="btn btn-primary btn-block" data-ng-click="outputType = 'mongoose'" data-ng-class="{active: outputType == 'mongoose'}"  >mongoose schema</button>
        </li>
        <li>
            <button class="btn btn-primary btn-block" data-ng-click="outputType = 'firebase'" data-ng-class="{active: outputType == 'angular'}" >firebase security</button>
        </li>
    </ul>

    <!--Output buttons - large screens-->
    <ul class="list-inline hidden-xs">
        <li>
            <button class="btn btn-primary" data-ng-click="outputType = 'html'" data-ng-class="{active: outputType == 'html'}" >html markup</button>
            <span class="labelSpacer">
                <input class="" type="checkbox" data-ng-model="cssStyle" data-ng-true-value="bootstrap" data-ng-false-value="" > plus bootstrap
            </span>
            <span class="labelSpacer">
                <input class="" type="checkbox" data-ng-model="jsStyle" data-ng-true-value="angular" data-ng-false-value="" > plus angular.js
            </span>
        </li>
        <li>
            <button class="btn btn-primary" data-ng-click="outputType = 'mongoose'" data-ng-class="{active: outputType == 'mongoose'}"  >mongoose schema</button>
        </li>
        <li>
            <button class="btn btn-primary" data-ng-click="outputType = 'firebase'" data-ng-class="{active: outputType == 'angular'}" >firebase security</button>
        </li>

    </ul>

    <!--highlight.js directive-->
    <div class="well mg_output_well">
        <div hljs data-source="codeSource()"></div>
    </div>

</div>
