
<h3 class="text-primary">Live Preview
    <small> test your form</small>
</h3>

<div class="mg_preview_well" data-ng-controller="FormpreviewCtrl">

    <!--Form-->
    <div class="well mg_form_well">
        <form name="elementForm" id="elementForm">

            <fieldset>
                <legend>
                    <span class="h4">{{form.name}}</span>
                </legend>

                <div data-ng-repeat="field in form.fields">
                    <quick-form-field field="field"></quick-form-field>
                </div>

            </fieldset>
        </form>
    </div>

    <div class="text-center">
        <!--Validation-->
        <div data-ng-show="elementForm.$valid">
            <h4 class="text-success">form is valid &#x2713;</h4>
        </div>

        <div data-ng-show="elementForm.$invalid">
            <h4 class="text-danger">form is invalid &#x2717;</h4>
        </div>
    </div>

</div>