
<h3 class="text-primary">Form Preview
    <small> test your form</small>
</h3>

<div class="mg_preview_well" data-ng-controller="FormpreviewCtrl">

    <!--Form-->
    <div class="well mg_form_well">
        <form name="elementForm" id="elementForm">

            <fieldset>
                <legend>
                    <span class="h4">{{form.name}}</span>
                </legend>

                <div  class="form-group" data-ng-repeat="field in form.fields">

                    <!--field label-->
                    <label for="{{field.id}}">{{field.display_name}}
                        <!--required-->
                        <small class="text-muted" data-ng-show="elementForm.{{field.name}}.$error.required">
                            (required)
                        </small>
                        <!--invalid-->
                        <span class="text-danger" data-ng-show="elementForm.{{field.name}}.$invalid && elementForm.{{field.name}}.$dirty">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>

                        <!--valid-->
                        <span class="text-success" data-ng-show="elementForm.{{field.name}}.$valid && elementForm.{{field.name}}.$dirty && elementForm.{{field.name}}.$modelValue !== '' ">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                    </label>

                    <!--field-->
                    <quick-form-field></quick-form-field>

                </div>

            </fieldset>
        </form>
    </div>

</div>