
<!--Data Designer Panel-->
<div id="designer" class="panel panel-default">
    <div class="panel-body">

        <!--model name-->
        <div class="row">
            <div class="col-sm-4">
                <label for="form-name" class="h4">Form Name</label>
                <input type="text" class="form-control" id="form-name" name="form-name" ng-model="element.name">
            </div>
        </div>

        <!--input type buttons-->
        <div class="row">
            <div class="col-sm-4">

                <h4>Input Types</h4>
                <ul class="list-unstyled text-center">
                    <li class="fieldTypeButton" data-ng-repeat="type in inputTypes | filter: {common: true} | orderBy: 'priority'">
                        <button class="btn btn-block btn-primary"  data-ng-click="addNewField(type.value)" >{{type.display}}</button>
                    </li>

                    <!--non-common-->
                    <li class="fieldTypeButton dropdown">
                        <button class="btn btn-block btn-info dropdown-toggle">More input types
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu_fieldTypes">
                            <p><i>the input types below
                                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#Browser_compatibility" target="_blank">are not implemented in all browsers</a>.</i></p>
                            <li class="fieldTypeButton" ng-repeat="type in inputTypes | filter: {common: false} | orderBy: 'priority' ">
                                <button class="btn btn-block btn-primary"  data-ng-click="addNewField(type.value)" >{{type.display}}</button>
                            </li>
                        </ul>

                    </li>



                </ul>
            </div>
            <div class="col-sm-8">

                <div class="well well-sm">
                    <h4>{{element.name}}</h4>

                    <!--Accordian-->
                    <accordion>
                        <accordion-group ng-repeat="field in element.fields">

                            <accordion-heading>

                                <span class="h4">{{field.field_title}}</span>
                                <button class="btn btn-sm btn-primary pull-right">edit</button>
                                <div class="clearfix"></div>

                            </accordion-heading>


                            <div class="accordion-edit">

                                <form name="fieldForm" novalidate>

                                    <p>Field type: {{field.field_type}}</p>

                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input class="form-control"  type="text" ng-model="field.field_title" value="{{field.field_title}}">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Default</label>
                                        <input class="form-control"  type="text" ng-model="field.field_value" value="{{field.field_value}}">
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            Required <input ng-model="field.field_required" value="{{field.field_required}}" type="checkbox">
                                        </label>
                                    </div>

                                    <div class="well" ng-show="field.options">

                                        <label>Options:</label>

                                        <ul class="list-unstyled">

                                            <li ng-repeat="option in field.field_options">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" ng-model="option.option_title" value="{{option.option_title}}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="deleteOption(field, option)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                                </div>
                                            </li>

                                        </ul>

                                        <button class="btn btn-primary btn-sm" type="button" ng-click="addOption(field)">
                                            <span class="glyphicon-plus"></span>
                                            Add Option
                                        </button>

                                    </div>

                                </form>

                                <div class="">
                                    <button class="btn btn-danger " type="button" ng-click="deleteField(field.field_id)">Delete</button>
                                </div>

                            </div>

                        </accordion-group>
                    </accordion>

                </div>

            </div>
        </div>
    </div>

    <!--Buttons: preview, save, clear-->
    <div class="panel-footer">

        <div class="text-center">
            <button class="btn btn-primary" type="button" ng-click="previewOn(element)">Preview Form</button>
            <button class="btn btn-danger" type="button" ng-click="reset()">Reset</button>
        </div>

    </div>

</div>


<!--Output Panel-->
<div class="panel panel-default">

    <div class="panel-heading">

        <!--Frontend-->
        <ul class="list-inline">
            <li><span class="h4">Frontend</span></li>
            <li><button class="btn btn-primary outputButton" type="button" data-ng-repeat="button in outputButtons.frontend" data-ng-class="{active: button.type == style.type}"  data-ng-click="style.type = button.type">{{button.name}}</button></li>
        </ul>

        <!--Backend-->
        <ul class="list-inline">
            <li><span class="h4">Backend</span></li>
            <li><button class="btn btn-primary outputButton" type="button" data-ng-repeat="button in outputButtons.backend" data-ng-class="{active: button.type == style.type}"  data-ng-click="style.type = button.type">{{button.name}}</button></li>
        </ul>

    </div>

    <div class="panel-body" hljs data-source="codeSource(element, style.type)">
    </div>

</div>

