
<h3 class="text-primary">Output
    <small> boilerplate code</small>
</h3>

<div class="well mg_section_well" data-ng-controller="OutputCtrl">

    <!--Output buttons-->
    <ul class="list-inline">
        <li>
            <button class="btn btn-primary" data-ng-click="outputType = 'html'" data-ng-class="{active: outputType == 'html'}" >html
                <label class="labelSpacer">
                    <input class="" type="checkbox" data-ng-model="cssStyle" data-ng-true-value="bootstrap" data-ng-false-value="" > bootstrap
                </label>
                <label class="labelSpacer">
                    <input class="" type="checkbox" data-ng-model="jsStyle" data-ng-true-value="angular" data-ng-false-value="" > angular.js
                </label>
            </button>
        </li>
        <li>
            <button class="btn btn-primary" data-ng-click="outputType = 'mongoose'" data-ng-class="{active: outputType == 'mongoose'}"  >mongoose</button>
        </li>
        <li>
            <button class="btn btn-primary" data-ng-click="outputType = 'firebase'" data-ng-class="{active: outputType == 'angular'}" >firebase</button>
        </li>

    </ul>

    <!--highlight.js directive-->
    <div class="well mg_output_well">
        <div hljs data-source="codeSource()"></div>
    </div>

</div>
